* {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    height: 100%;
    background: #E9ECEF;
}
.urunler-icerik h5{
    color: purple;
    font-weight: bolder;
}

/*urunlerin mobilde ortada gelmesi icin*/
@media (max-width: 769px) { 
    .urun-fotograflari {
        display: flex;
        justify-content: center;
    }
 }
